.text-link {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;

}

.text-font {
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}
.border-image {
    border: 5px green solid;
    border-radius: 20px;
    box-shadow: 0 0 20px -3px;
}
